@import '../../../../assets/style/mixins';

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;

  @include box-shadow-bottom();

  .knora-logo {
    height: 36px;
  }

}
