$bg-color: #404145;
$fg-color: #FAFAFA;
pre, code, tt {
  font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
  //font-size: 0.85em;
  white-space: pre-wrap;
  border-radius: 3px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba($bg-color, .75);
  color: $fg-color;
}


pre {
  background-color: $bg-color;
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  width: 100%;
  padding: 10px;
  //font-size: 0.9em;
  white-space: pre;
  overflow: auto;

  code, tt {
    //font-size: inherit;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0
  }
}

blockquote > code,
li > code,
p > code {
  padding: 2px 6px;
  white-space: nowrap;
}

.example-container {
  height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;

  td {
    padding: 12px;
    vertical-align: top;

    &.border-right {
      border-right: 1px solid #ddd;
    }
  }
}

.documentation {
  margin: 48px 0;

  .mat-divider {
    margin: 24px 0;
  }
}
