
<div *ngIf="documentation">
    <section *ngFor="let item of documentation">

        <div [innerHtml]="item.description.full | sanitizeHtml"></div>

        <div *ngIf="item.tags[0].type !== 'ignore'">

            <div *ngFor="let tag of item.tags">

                <div [ngSwitch]="tag.type">
                    <!-- example code -->
                    <pre *ngSwitchCase="'example'">
                        <code>{{tag.string}}</code>
                    </pre>

                    <hr>
                    <p *ngSwitchCase="'param'">
                        parameter: {{tag.name}}
                    </p>
                    <div *ngSwitchCase="'type'" [innerHtml]="tag.html | sanitizeHtml">
                    </div>
                    <hr>
                    <p *ngSwitchDefault>
                        default: {{tag.type}}
                    </p>

                    <div *ngIf="tag.description"
                         [innerHtml]="tag.description | sanitizeHtml">
                    </div>
                </div>

            </div>
        </div>

        <mat-divider></mat-divider>
    </section>
</div>

<!--


{% for module in site.data.action %}

{% assign mod = module[1] %}

{% for object in mod %}

{{ object.description.full }}

{% for tag in object.tags %}

{% if tag.type != 'ignore' %}

##### {{ tag.type }}

~~~html
{{ tag.string }}
~~~

{% endif %}

{% endfor %}

{% endfor %}

---

{% endfor %}

-->
