
<!-- header with title and module info -->
<app-module-header [module]="module" [demo]="currentComponent"></app-module-header>

<mat-divider></mat-divider>

<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

<!-- documentation page -->
<div *ngIf="documentation && !loading" class="documentation">

    <!-- documentation data from jsdoc -->
    <section *ngFor="let item of documentation; let i = index">

        <!-- introduction -->
        <div *ngIf="item.tags.length === 0">
            <div [innerHtml]="item.description.summary | sanitizeHtml"></div>

            <div [innerHtml]="item.description.body | sanitizeHtml" class="bolder"></div>
        </div>

        <div *ngIf="item.tags.length > 0 && item.tags[0].type !== 'ignore'">

            <!-- description of each tag -->
            <div *ngIf="item.tags[0].type !== 'ignore'">
                <mat-divider></mat-divider>
                <h3>{{item.ctx.string}}</h3>
                <div [innerHtml]="item.description.full"></div>
            </div>


            <!-- going through the list of tags -->
            <div *ngFor="let tag of item.tags">

                <div [ngSwitch]="tag.type">

                    <!-- example code -->
                    <pre *ngSwitchCase="'example'" class="line-numbers">
                        <code>{{tag.string}}</code>
                    </pre>

                    <!-- returns -->
                    <div *ngSwitchCase="'returns'">
                        <p><strong>Returns</strong></p>
                        <table>
                            <tr>
                                <td>
                                    <p>{{tag.string}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- parameter -->
                    <div *ngSwitchCase="'param'">
                        <p><strong>Parameter</strong></p>
                        <table>
                            <tr>
                                <th class="border-right">Name</th>
                                <th class="border-right">Type</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td class="border-right">
                                    <p>{{tag.name}}</p>
                                </td>
                                <td class="border-right">
                                    <p><span *ngFor="let type of tag.types; let last = last">
                                            {{type}}<span *ngIf="!last">, </span>
                                    </span></p>
                                </td>
                                <td>
                                    <div [innerHtml]="tag.description"></div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- type -->
                    <div *ngSwitchCase="'type'" [innerHtml]="tag.html | sanitizeHtml"></div>

                    <!-- ignore (do nothing!) -->
                    <div *ngSwitchCase="'ignore'"></div>

                    <!-- default -->
                    <p *ngSwitchDefault>
                        This type ({{tag.type}}) is not yet supported in the documentation view.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <mat-divider></mat-divider>

</div>
