.middle {
  margin-top: auto;
  margin-bottom: auto;
}

.small-button {
  color: inherit;
  margin-top: -2px;
  height: 24px;
  line-height: 0;
}

ul.module-navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  li {
    list-style: none;
    display: inline;
  }

}

a {
  color: #333;
}

