<div class="pg-index">
    <h1>Playground</h1>

    <button mat-raised-button class="pg-item" color="primary" routerLink="/playground/authentication">Authentication playground</button>
    <button mat-raised-button class="pg-item" color="primary" routerLink="/playground/viewer">Viewer playground</button>
    <button mat-raised-button class="pg-item" color="primary" routerLink="/playground/search">Search playground</button>
    <button mat-raised-button class="pg-item" color="primary" routerLink="/playground/ontology">Ontology playground</button>
    <button mat-raised-button class="pg-item" color="primary" routerLink="/playground/list">List playground</button>

</div>

<div class="pg-content">
    <router-outlet></router-outlet>
</div>
