@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'config';

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}


.panel {
  margin-bottom: 24px;
  width: 100%;

  .panel-row {
    display: flex;
    box-sizing: border-box;
    height: 48px;
    margin-bottom: 12px;

  }
}

.action-button {
  height: 48px;
  width: 48px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.link {
  cursor: pointer;
}

.demo {
  padding: 12px 0;
}
