<app-module-sub-header [demo]="partOf"></app-module-sub-header>

<mat-card class="example-viewer">

    <app-example-viewer [example]="sortButtonCode"></app-example-viewer>

    <div class="demo">
        <kui-sort-button [sortProps]="sortProps" [(sortKey)]="sortKey">
        </kui-sort-button>

        <kui-sort-button [sortProps]="sortProps" [(sortKey)]="sortKey" [position]="'right'">
        </kui-sort-button>

        <ul>
            <li *ngFor="let item of list | sortBy: sortKey">
                <span [class.active]="sortKey === 'prename'">{{item.prename}} </span>
                <span [class.active]="sortKey === 'lastname'">{{item.lastname}} </span>
                by
                <span [class.active]="sortKey === 'creator'">{{item.creator}}</span>
            </li>
        </ul>
    </div>
</mat-card>

<mat-divider></mat-divider>

<h2>Documentation</h2>

<h3>
    Sort button
</h3>

<h4>Usage</h4>
<p>
    Please follow the README of
    <a href="https://www.npmjs.com/package/@knora/action#sort-button">Knora-ui action module</a>. Then you can use the following methods from `SortButton`:
</p>

<markdown [src]="'app/knora-ui-examples/action-demo/sort-button/README.md'"></markdown>