<!-- Documentation from JSDocs -->
<app-documentation-viewer [module]="module"></app-documentation-viewer>

<!-- Examples with demo -->
<h3>Example</h3>

<mat-card class="example-viewer">

    <app-example-viewer [example]="exampleGetAllGroups"></app-example-viewer>

    <div class="demo" *ngIf="allGroups">
        <h4>Result</h4>

        <ul>
            <li class="link" *ngFor="let g of allGroups">
                <strong>{{g.name}}</strong> ({{g.project.longname}})
                <span>{{g.description}}</span>
            </li>
        </ul>
    </div>

</mat-card>
