<!-- Documentation from JSDocs -->
<app-documentation-viewer [module]="module"></app-documentation-viewer>

<!-- Examples with demo -->
<h3>Example</h3>

<mat-card class="example-viewer">

    <app-example-viewer [example]="userAvatar"></app-example-viewer>

    <div class="demo">
        <h5>Default user profile image</h5>
        <p>The image source is an email, which is not registered on gravatar.com</p>
        <img kuiAdminImage [image]="imgDefaultUser" [type]="'user'" />

        <h5>Avatar example: 'salsah' user</h5>
        <p>The image source is an email, which is registered on gravatar.com</p>
        <img kuiAdminImage [image]="imgSalsahUser" [type]="'user'" />

        <h5>User image on error</h5>
        <img kuiAdminImage [image]="null" [type]="'user'" />

        <h4>Default error image</h4>
        <p>In the case of an image source 404 error, it shows the following 'image not available'-image</p>
        <img kuiAdminImage [image]="'null'" />
    </div>
</mat-card>

<mat-card class="example-viewer">

    <app-example-viewer [example]="projectLogo"></app-example-viewer>

    <div class="demo">
        <h5>Default project image</h5>
        <img kuiAdminImage [image]="imgDefaultProject" [type]="'project'" />

        <h5>Logo example: 'dasch' project</h5>
        <img kuiAdminImage [image]="imgDaschProject" [type]="'project'" />
    </div>
</mat-card>