<!-- Documentation from JSDocs -->
<app-documentation-viewer [module]="module"></app-documentation-viewer>

<!-- Examples with demo -->
<h3>Simple full-text search example</h3>
<mat-card class="example-viewer">

    <app-example-viewer [example]="searchFulltext"></app-example-viewer>

    <div class="demo">
        <img src="data/documentation/search/search-panel-example.png" class="center" />
    </div>
</mat-card>

<!-- Examples with demo -->
<h3>Full-text search example with project filter</h3>
<mat-card class="example-viewer">

    <app-example-viewer [example]="searchFulltextProject"></app-example-viewer>

    <div class="demo">
        <img src="data/documentation/search/search-fulltext-project.png" class="center" />
    </div>
</mat-card>