<mat-card-header class="example-header">
    <!--
    <div mat-card-avatar class="example-header-image"></div>
    -->
    <mat-card-title>{{example.title}}</mat-card-title>
    <mat-card-subtitle>{{example.subtitle}}</mat-card-subtitle>
    <mat-card-actions class="action-buttons">
        <button mat-icon-button (click)="toggleCode()">
            <mat-icon>code</mat-icon>
        </button>
    </mat-card-actions>
</mat-card-header>

<mat-divider></mat-divider>

<mat-card-content *ngIf="showCode">
    <mat-tab-group class="example-code-group">
        <mat-tab *ngIf="example.code.html" label="HTML">
            <pre>
                <code>{{example.code.html}}</code>
            </pre>
        </mat-tab>

        <mat-tab *ngIf="example.code.ts" label="TS">
            <pre>
                <code>{{example.code.ts}}</code>
            </pre>
        </mat-tab>

        <mat-tab *ngIf="example.code.scss" label="SCSS">
            <pre>
                <code>{{example.code.scss}}</code>
            </pre>
        </mat-tab>
    </mat-tab-group>
</mat-card-content>

<mat-divider></mat-divider>
