<h3>Users service</h3>

<markdown>
    # Test

    The `UsersService` in @knora/core offers the following methods:
</markdown>


<mat-card class="example-viewer">

    <app-example-viewer [example]="exampleGetAllUsers"></app-example-viewer>

    <div class="demo">
        <div *ngIf="allUsers && !usersService.loading">
            <mat-card-subtitle>Result</mat-card-subtitle>

            <ul>
                <li class="link" *ngFor="let u of allUsers" (click)="getUser(u.email)" >
                    <strong>{{u.familyName}}: </strong>
                    {{u.givenName}} ({{u.email}})
                </li>
            </ul>
        </div>
        <kui-progress-indicator *ngIf="usersService.loading"></kui-progress-indicator>
    </div>
</mat-card>


<markdown>
    ### getAllUsers()
</markdown>


<mat-divider></mat-divider>

<markdown [src]="'assets/docs/UsersService.md'">


</markdown>
