<!--The content below is only a placeholder and can be replaced.-->
<div class="introduction landing-page">
  <div class="content-header">
    <h1>Knora ui</h1>
    <h2>User Interface Modules for Knora</h2>
  </div>

  <div class="content-text">
    <p>This is the demo environment for Knora ui modules, which will be published on <a
      href="ttps://www.npmjs.com/~knora">npm</a>.
    </p>

    <p>The modules helps to create a graphical user interface for <a href="https://knora.org">Knora</a> in a quick and
      simple way. They're written in <a href="https://angular.io">Angular</a> (version 6) including the <a
        href="https://material.angular.io">material design</a>.</p>

    <p>Knora itself is a software framework for storing, sharing, and working with primary sources and data in the
      humanities.</p>

    <p>It is developed by the <a href="http://dhlab.unibas.ch">Digital Humanities Lab</a> at the <a
      href="http://unibas.ch">University
      of Basel</a>, and is supported by the <a href="http://www.sagw.ch">Swiss Academy of Humanities and Social
      Sciences</a>.
    </p>

    <p>Knora and the Knora ui elements is <a href="http://www.gnu.org/philosophy/free-sw.en.html">free software</a>,
      released under the <a href="http://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>.
    </p>

  </div>

</div>
