.table {
  border-collapse: collapse;
  width: 100%;
  max-width: calc(1000px - 2 * 48px);

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 88px;

    &.no-border {
      border-bottom: none;
    }

    .hidden {
      display: none;
    }

    //    &:not(:first-child):hover {
    &:hover {
      background-color: darken(#fff, 15%);

      .hidden {
        display: block;
      }
    }

    td,
    th {

      &:not(:first-child) {
        min-width: 96px;
      }

      &.table-action {

        button {
          float: right;
        }
      }

      padding: 6px 12px;
      text-align: left;

      h5.mat-subheading-2,
      p.mat-subheading-1 {
        margin: 0;
      }
    }
  }

  .avatar-cell {
    text-align: center;
    width: 48px;
  }
}
