<app-module-sub-header [demo]="partOf"></app-module-sub-header>

<p>You can use the progress indicator in two ways:</p>

<mat-card class="example-viewer">

    <app-example-viewer [example]="classicLoader"></app-example-viewer>

    <div class="demo">
        <kui-progress-indicator [color]="'rgb(212,121,66)'"></kui-progress-indicator>
    </div>
</mat-card>

<br>
<br>

<mat-card class="example-viewer">

    <app-example-viewer [example]="submitLoader"></app-example-viewer>

    <div class="demo">
        <mat-list>
            <mat-list-item *ngFor="let item of examples">

                <kui-progress-indicator mat-list-avatar [status]="item.status">
                </kui-progress-indicator>

                <p mat-line>
                    <strong>
                        <span>{{item.label}}</span>
                    </strong>
                </p>
                <p mat-line>
                    status: {{item.status}}
                </p>
            </mat-list-item>
        </mat-list>
    </div>
</mat-card>

<br>
<br>

<mat-card class="example-viewer">

    <app-example-viewer [example]="dynamicExample"></app-example-viewer>

    <div class="demo">
        <mat-list>
            <mat-list-item>
                <kui-progress-indicator mat-list-avatar [status]="status" color="blue"></kui-progress-indicator>
                <p mat-line>
                    <strong>
                        <span *ngIf="status == -1">before submit (not ready)</span>
                        <span *ngIf="status == 0">submitting</span>
                        <span *ngIf="status == 1">after submit (done)</span>
                    </strong>

                    status: {{status}}
                </p>
            </mat-list-item>
        </mat-list>
    </div>
</mat-card>


<mat-divider></mat-divider>

<h2>Documentation</h2>

<h3>
    Progress indicator
</h3>

<h4>Usage</h4>
<p>
    Please follow the README of
    <a href="https://www.npmjs.com/package/@knora/action#progress-indicator">Knora-ui action module</a>. Then you can use the following methods from `ProgressIndicator`:
</p>

<markdown [src]="'app/knora-ui-examples/action-demo/progress-indicator/README.md'"></markdown>