<!-- Documentation from JSDocs -->
<app-documentation-viewer [module]="module"></app-documentation-viewer>

<!-- Examples with demo -->
<h3>Example</h3>

<!--


<div *ngIf="currentUser">
    <p>You're logged in</p>

    <p>Otherwise you will redirect to the <span [routerLink]="'/login'">/login</span> page</p>

    <hr>

    <p>You're logged in as <strong>{{currentUser?.name}}</strong></p>
    <p *ngIf="currentUser?.sysAdmin">And you are <strong>system administrator</strong></p>
    <p>Preferred language is: <strong>{{currentUser?.lang}}</strong></p>

    <button mat-raised-button class="mat-warn" (click)="logout()">Logout</button>

    <p>If you're interested in the login page, go to <a routerLink="/login">/login</a></p>
</div>
-->
