.action-buttons {
    position: absolute;
    right: 36px;
    top: 0;
}

.example-code-group {
  background: rgba(193, 193, 193, 0.12);

  .code-example {
    border-radius: 0;
  }
}

.full-width {
  width: calc(100% + 32px);
  margin: 0 -16px;
}