.action-buttons {
    position: absolute;
    right: 36px;
    top: 0;
}

.example-code-group {
  background: rgba(193, 193, 193, 0.12);
}

.full-width {
  width: calc(100% + 48px);
  margin: 0 -24px;

}
