<mat-sidenav-container class="demo-container">

  <mat-sidenav class="demo-nav-container" mode="side" opened>

    <h3 mat-card-title>Published modules</h3>

    <mat-list>
            <span *ngFor="let item of examples">
                <mat-list-item *ngIf="item.published">
                    <button mat-button [routerLink]="item.name" routerLinkActive="active-link" class="demo-nav-item">
                        {{item.label}}
                    </button>
                </mat-list-item>
            </span>
    </mat-list>

    <hr>
    <h3>Modules in dev mode</h3>
    <mat-list>
            <span *ngFor="let item of examples">
                <mat-list-item *ngIf="!item.published">
                    <button mat-button [routerLink]="item.name" routerLinkActive="active-link" class="demo-nav-item">
                        {{item.label}}
                    </button>
                </mat-list-item>
            </span>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content class="module-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
