<app-module-header [demo]="module"></app-module-header>


<p>core-demo works!</p>

<button (click)="getAllProjects()">Get all projects</button>

<h3>Projects service</h3>

<p>getAllProjects</p>
<kg-progress-indicator *ngIf="projectsService.loading"></kg-progress-indicator>
<div *ngIf="!projectsService.loading">
  <ul>
    <li (click)="getProject(p.id)" *ngFor="let p of allProjects"><strong>{{p.shortname}}: </strong> {{p.longname}}</li>
  </ul>
</div>

<hr>


<p>getProjectByIri <i>{{project?.id}}</i></p>
<p *ngIf="!projectsService.loading && project"><strong>{{project?.shortname}}: </strong> {{project?.longname}}</p>
