/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import "~prismjs/themes/prism-okaidia.css";
@import "assets/style/mat-teal-amber";
@import "assets/style/main";

kui-calendar-header {
  .mat-select {
    background: #00796b;
    color: white;
    padding: 20px;
    margin-bottom: -20px;
    box-sizing: border-box;
  }

  .mat-select-value,
  .mat-select-arrow {
    color: #fff;
  }
}

.mat-datepicker-content {
  height: 400px;
}
