<app-module-sub-header *ngIf="partOf" [demo]="partOf"></app-module-sub-header>

<h4 class="first">BooleanValue</h4>
<kui-boolean-value></kui-boolean-value>

<h4>ColorValue</h4>
<kui-color-value [valueObject]="color"></kui-color-value>

<h4>DateValue</h4>
<kui-date-value [valueObject]="date" [calendar]="true" [era]="true"></kui-date-value>

<h4>DecimalValue</h4>
<kui-decimal-value></kui-decimal-value>

<h4>ExternalResValue</h4>
<kui-external-res-value></kui-external-res-value>

<h4>GeometryValue</h4>
<kui-geometry-value></kui-geometry-value>

<h4>GeonameValue</h4>
<kui-geoname-value></kui-geoname-value>

<h4>IntegerValue</h4>
<kui-integer-value></kui-integer-value>

<h4>IntervalValue</h4>
<kui-interval-value></kui-interval-value>

<h4>LinkValue</h4>
<kui-link-value [valueObject]="link" (referredResourceClicked)="referredResClicked($event)"></kui-link-value>

<h4>ListValue</h4>
<kui-list-value></kui-list-value>

<h4>TextValue</h4>
<kui-text-value></kui-text-value>

<h4>UriValue</h4>
<kui-uri-value [valueObject]="uri"></kui-uri-value>