<app-module-sub-header [demo]="partOf"></app-module-sub-header>

<kui-boolean-value></kui-boolean-value>
<kui-color-value></kui-color-value>
<kui-date-value></kui-date-value>
<kui-decimal-value></kui-decimal-value>
<kui-external-res-value></kui-external-res-value>
<kui-geometry-value></kui-geometry-value>
<kui-geoname-value></kui-geoname-value>
<kui-int-value></kui-int-value>
<kui-interval-value></kui-interval-value>
<kui-link-value></kui-link-value>
<kui-list-value></kui-list-value>
<kui-text-value></kui-text-value>
<kui-uri-value></kui-uri-value>
