<!-- Documentation from JSDocs -->
<app-documentation-viewer [module]="module"></app-documentation-viewer>

<!-- Examples with demo -->
<h3>Example</h3>

<mat-card class="example-viewer">

    <app-example-viewer [example]="truncatePipe"></app-example-viewer>

    <div class="demo">
        Shorten long text by the following length:
        <mat-slider [min]="1" [max]="longText.length + 1" [thumbLabel]="true" (input)="truncateStringBy($event)"
                    [value]="length">
        </mat-slider>
        <p>{{longText | kuiTruncate:[length]}}</p>
    </div>
</mat-card>
