<!-- Documentation from JSDocs -->
<app-documentation-viewer [module]="module"></app-documentation-viewer>

<!-- Examples with demo -->
<h3>Example</h3>

<h4 class="first">Text</h4>
<kui-text></kui-text>

<h4>StillImage</h4>
<p><strong>Simple still image viewer</strong></p>

<kui-still-image #OSDViewer
                 [images]="stillImage"
                 [imageRangeStart]="0"
                 [imageRangeEnd]="0"
                 [imageChangeInterval]="1">
</kui-still-image>



<h4>MovingImage</h4>
<kui-moving-image></kui-moving-image>

<h4>Audio</h4>
<kui-audio></kui-audio>

<h4>Document</h4>
<kui-document></kui-document>

<h4>DDD</h4>
<kui-ddd></kui-ddd>

<h4>Collection</h4>
<kui-collection></kui-collection>

<h4>LinkObj</h4>
<kui-link-obj></kui-link-obj>

<h4>Annotation</h4>
<kui-annotation></kui-annotation>

<h4>Region</h4>
<kui-region></kui-region>

<h4>Object</h4>
<kui-object></kui-object>
